[submodule "extern/onnx"]
	path = extern/onnx
	url = https://github.com/onnx/onnx.git
[submodule "extern/protobuf"]
	path = extern/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "extern/torch2timeloop"]
	path = extern/torch2timeloop
	url = https://github.com/Accelergy-Project/pytorch2timeloop-converter.git
[submodule "extern/booksim"]
	path = extern/booksim
	url = https://github.com/shenjiangqiu/booksim.git
	branch = sjq
[submodule "extern/ramulator2"]
	path = extern/ramulator2
	url = https://github.com/shenjiangqiu/ramulator2.git
	branch = sjq

[submodule "extern/robin-hood-hashing"]
	path = extern/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
